pkgbase = nexoid-nexui-flask-git
	pkgdesc = NEXO-in-the-cloud demo
	pkgver = 0.0.1
	pkgrel = 1
	arch = any
	license = AGPL
	makedepends = git
	depends = python-bitstruct
	depends = python-timebudget
	depends = python-pynng
	depends = python-flask
	depends = python-bitstring
	depends = python-asn1tools
	depends = python-gevent
	depends = libsocket
	depends = nexoid-fat
	depends = mailcap
	provides = nexoid-nexui
	source = git+ssh://git@github.com:/hurufu/nexoid-nexui-flask.git
	source = git+git://github.com/AlainCouthures/declarative4all.git
	source = nexui.service
	md5sums = SKIP
	md5sums = SKIP
	md5sums = 179174b2f27bc612fb35375fff9c9933
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = e86244af11cabbb40e2b14185b675040e0674386

pkgname = nexoid-nexui-flask-git

