[Unit]
Description=NEXO-in-the-cloud demo
After=network.target

[Service]
User=nexoid
WorkingDirectory=/var/cache/nexui
ExecStart=python -m nexui
Restart=always

[Install]
WantedBy=multi-user.target
